Languages i know well:<br>
Hindi<br>
English<br>
Bengali<br>
Bhojpuri<br>
Punjabi<br>
Haryanvi<br>
{{ temp_name }}<br>
{{ lang }}<br>
<!{{ values }}<br>
{% for v in values %}


{{ forloop.counter }}.{{ v.name }},{{ v.score }}<br>

{% endfor %}


{% for v in values2 %}


{{ forloop.counter }}.{{ v.name }},{{ v.p_name }},{{ v.p_desc }}<br>

{% endfor %}
{% for v in lang %}

{% if forloop.counter == 2 %}
	<b>{{ forloop.counter }}.{{ v }}</b>
	<br>
	{% else %}
{{ forloop.counter }}.{{ v }}<br>
{% endif %}
{% endfor %}